body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #6d5fe9;
}

.clock-container {
    width: 200px;
    height: 80px;
    background-color: #4058c2;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock {
    font-size: 32px;
    font-family: Arial, sans-serif;
    color: #333;
    letter-spacing: 2px;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.pw {
    margin: auto;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: blue;
    justify-content: center;
    align-items: center;
}